<aside id="k2t_member-2" class="widget k2t_widget_member">
  <h4 class="widget-title"><span><%= t "member_of_project" %></span></h4>
  <div class="scroll">
    <ul class="listing-member">
      <% @members.each do |member| %>
        <li>
          <%= link_to "#", class: "member-thumb" do %>
            <%= image_tag member.images.first.image.url ,
              class: "img-member" %>
          <% end %>
          <h4>
          <%= link_to "#{member.name}", "#", class: "name-of-member-project",
            title: "#{member.name}" %>
          </h4>
          <span class="position"><%= member.participates.last.description %></span>
          <div class="clear"></div>
        </li>
      <% end %>
    </ul>
  </div>
</aside>
